<!-- <label>Server Name (1-way databinding)</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)" /> <br> -->

<!--2-way databinding -->
<label>Server Name (2-way databinding)</label>
<input type="text" class="form-control"  [(ngModel)]="serverName"/>
<!-- <p>{{ serverName }}</p> -->
<button class="btn btn-primary cstm-btn" [disabled]="!allowNewServer" (click)="onCreateServer()"> Add Server</button>
<!-- <p>{{ allowNewServer }}</p> --><!-- string interpolation -->
<!-- <p [innerText]="allowNewServer"></p> --><!-- replace string interpolation with property binding -->
<p>{{ serverCreationStatus }}</p>
<app-server></app-server>